.main {
   flex:auto;


}
.title{
    margin-top: 275px;
    justify-self: center;
    align-content: center;
    position: relative;
}
.details{
    font-size: 16px;
    font-family: Arial;
}
.button{
    backgroundcolor: beige;
    border-radius: 40px;
    font-family: Cambria;

}